<div class="contain">
  <h1 class="title">使い方ページ</h1>
  <p class="express">こちらのページでは、シフト作成までの流れを解説するページになります</p>
  <h2 class="title">登録</h2> 
  <p class="express">最初に新規登録をしていただきます。新規登録で登録した内容がAIに送られシフトに内容が反映されます。<p class="important">＊内容はアカウント変更ページから後で変更可能です</p>
  </p>
  <h2 class="title">シフト作成</h2>
  <p class="express">次にシフト作成です。シフト作成をする際にはログインもしくは新規登録が必要になります。<p class="express">その後、トップメニューもしくはドロップダウンからシフト作成をクリックします。</p>
  </p>
  <p class="express">シフト作成ページに移動後、作成したい日付と作成者、パスワード(現在のパスワード:shift)を入力後にAIによってシフトが作成されます。<br>作成されたシフトは一覧から従業員が確認できます。</p>
  <p class="important">＊AIが生成しているテキストとでのシフト表示となります。また希望とは違うシフトが作成されることもあります。
  <p class="important">その際はお手数ですがもう一度シフトを作成していただくようにお願いします。</p>
  </p>
</div>
