<!DOCTYPE html>
<div class="container">
    <h1 class="title">シフト詳細ページ</h1>
    <div class="shift-details">
      <h3><%= @shift.calendar %> 予定シフト</h3>
      <div class="shift-content">
        <%= raw @shift.content %>
      </div>
    </div>
    <p>シフト作成者: <%= @shift.creator %></p>
    <%= link_to "シフト一覧に戻る", shifts_index_path, class: "btn btn-primary" %>
  </div>
