body {
  margin: 0%;
}

.scrollable-form {
  max-height: 450px; /* 適切な高さを指定 */
  overflow-y: auto;
}

header {
  background-color: #174a5c;
  height: 70px;
  text-align: center;
}

.header_all {
  text-align: center;
}

.sign-up {
  position: flex;
}

a {
  padding-right: 15px;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  width: 100%;  
}

.guest_button {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.current_name {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px 0 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.button_menu {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

.Shift_Schedule {
  margin-left: 25px;
  color: white;
  padding-top: 15px;
  font-family: "Comic Sans MS";
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
}

.Shift_Schedule:hover {
  color: white;
}

.guest {
  margin-top: 10px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.main-menu {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.sub-menu {
  text-align: center;
}

#question {
  font-size: 25px;
  margin-top: 5px;
}

.nav-list {
  line-height: 100px;
  list-style: none;
  font-weight: bold;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

}

.field {
  text-align: center;
  margin-top: 10px;
}

.actions {
  margin-top: 10px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.large-button {
  padding: 5px 10px;
  font-size: 15px;
  width: 180px; 
  height: 40px;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
}

.flash.close-flash {
  padding: 10px 20px;
  margin-bottom: 0;
}

#error_explanation {
  margin-bottom: 0;
}

.info {
  text-align: center;
  font-size: 20px;
}

.info-more {
  margin-top: 20px;
}

.home {
  margin-left: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.content {
  margin-bottom: 20px;
}

.shift-item {
  border: 5px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contain {
  text-align: center;
}

.express {
  padding: 0 30px;
  margin-bottom: 10px;
}

.important {
  color: red;
  font-weight: 600;
}
