.main {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-image: image-url('job.jpg');
}

.title {
  margin-top: 100px;
  color: white;
  font-size: 80px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  font-family: "Comic Sans MS";
}

.sub-title {
  color: white;
  font-size: 70px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  font-family: Arial unicode ms;
}

.nave_menu {
  padding-top: 10px;
  text-align: center;
}

#enter {
  margin-right: 50px;
}
